@import url(../fonts/fonts.css);
body {
  position: relative;
  scroll-behavior: smooth;
  background-color: #E5E5E5;
  font-family: "Effra-Regular", sans-serif;
  color: #282A2F;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #282A2F;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #282A2F;
}

::-moz-selection {
  color: #fff;
  background-color: #282A2F;
}

::selection {
  color: #fff;
  background-color: #282A2F;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #282A2F;
}

a:hover {
  color: #5968D8;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #282A2F;
}

textarea {
  resize: none;
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #282A2F;
}

textarea::-moz-placeholder {
  color: #282A2F;
}

textarea:-ms-input-placeholder {
  color: #282A2F;
}

textarea::-ms-input-placeholder {
  color: #282A2F;
}

textarea::placeholder {
  color: #282A2F;
}

input,
textarea,
select {
  color: #282A2F;
  font-size: 16px;
  padding: 12px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #282A2F;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder {
  color: #282A2F;
}

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder {
  color: #282A2F;
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder {
  color: #282A2F;
}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder {
  color: #282A2F;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #282A2F;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #282A2F;
  border-bottom-color: #5968D8;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #5968D8;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #5968D8;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.shd:hover {
  -webkit-box-shadow: 0 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0 30px 40px rgba(0, 80, 147, 0.25);
}

.b {
  font-family: "Effra-Bold";
}

.tac {
  text-align: center;
}

.tal {
  text-align: left !important;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.btn {
  position: relative;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #282A2F;
  display: inline-block;
  outline: none;
}

.btn:hover::after {
  width: 0;
}

.btn:hover span {
  padding: 20px 30px;
  color: #fff;
}

.btn::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #DFDFDF;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.btn::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #DFDFDF;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.btn span {
  position: relative;
  min-width: 192px;
  padding: 20px 30px;
  display: block;
  z-index: 2;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.btn--blue span {
  color: #fff;
}

.btn--blue::before {
  border-color: #282A2F;
}

.btn--blue::after {
  background-color: #5968D8;
}

.btn--blue:hover span {
  color: #282A2F;
}

.preloader {
  display: inline-block;
  position: relative;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.preloader svg {
  fill: #5968D8;
  width: 300px;
  height: 90px;
}

.preloader__wrp {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  padding: 60px 30px;
  min-height: 100vh;
  z-index: 3;
  -webkit-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

@media only screen and (max-width: 1200px) {
  .popup {
    right: -120%;
    width: 100%;
    min-height: 400px;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 15px;
  }
}

.popup__in {
  position: relative;
  opacity: 0;
  -webkit-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

@media only screen and (max-width: 1200px) {
  .popup__in {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.popup__cross {
  margin-left: auto;
  display: block;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.popup__cross:hover {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: .8;
}

@media only screen and (max-width: 575px) {
  .popup__cross svg {
    width: 20px;
  }
}

.popup__form {
  max-width: 470px;
}

.popup__form-descr {
  font-size: 15px;
  color: #686868;
}

.menu-open {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-right: 18px;
}

@media only screen and (max-width: 1200px) {
  .menu-open {
    padding-right: 0;
  }
}

.menu-open .popup {
  right: 0;
}

.menu-open .popup__in {
  opacity: 1;
}

.menu-open .banner__overlay {
  opacity: .8;
  visibility: visible;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(100px, auto) -webkit-calc(100vh - 100px);
  grid-template-rows: minmax(100px, auto) calc(100vh - 100px);
  overflow: hidden;
}

.header {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-right: 15px;
}

.header__logo {
  color: #fff;
  font-family: "Effra-Bold";
  font-size: 20px;
  text-transform: uppercase;
  background-color: #5968D8;
  grid-column: 1/2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__in {
  font-size: 18px;
  background-color: #fff;
  grid-column: 2/11;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-link {
  color: #555555;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header__nav-link:not(:last-child) {
  margin-right: 25px;
}

.header__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info-item {
  color: #555555;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header__info-item span {
  margin-left: 10px;
}

.header__info-item:not(:last-child) {
  margin-right: 25px;
}

.header__tel {
  color: #282A2F;
  font-size: 20px;
  font-family: "Effra-Bold";
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header__btn {
  position: relative;
  grid-column: span 2;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__btn:hover .header__btn-in::after {
  right: -130%;
}

.header__btn:hover .header__btn-in span {
  color: #282A2F;
}

.header__btn:hover .header__btn-arrow path {
  stroke: #282A2F;
}

.header__btn-in {
  position: relative;
  font-family: "Effra-Medium";
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  height: 100px;
  padding: 15px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn-in::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #282A2F;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header__btn-in::after {
  content: '';
  position: absolute;
  right: -20%;
  top: 0;
  width: 120%;
  height: 100%;
  background-color: #5968D8;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header__btn-in span {
  position: relative;
  z-index: 2;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header__btn-arrow {
  position: absolute;
  left: -18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.header__btn-arrow path:nth-child(1) {
  stroke: #555555;
}

.header__btn-arrow path:nth-child(2) {
  stroke: #fff;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.aside {
  background-color: #fff;
  grid-column: span 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside__socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.aside__socials-link:not(:last-child) {
  margin-bottom: 30px;
}

.aside__socials-link svg {
  fill: #282A2F;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.aside__socials-link:hover svg {
  fill: #404B9E;
}

.aside__btn {
  position: relative;
  padding: 33px 68px 33px 33px;
  background-color: #404B9E;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  margin-bottom: 50px;
}

.aside__btn-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(16.91%, #404B9E), color-stop(107.19%, rgba(64, 75, 158, 0)));
  background: -o-linear-gradient(left, #404B9E 16.91%, rgba(64, 75, 158, 0) 107.19%);
  background: linear-gradient(90deg, #404B9E 16.91%, rgba(64, 75, 158, 0) 107.19%);
}

.content {
  grid-column: 2/13;
  overflow: auto;
}

.content::-webkit-scrollbar {
  width: 15px;
}

.content::-webkit-scrollbar-track {
  background-color: #DCDFF3;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.content::-webkit-scrollbar-thumb {
  background-color: #4E60E0;
  border-radius: 50px;
}

.banner {
  position: relative;
  color: #fff;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: -webkit-calc(100vh - 100px);
  grid-template-rows: calc(100vh - 100px);
  background-image: url("../img/banner__bg_1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #404B9E;
  opacity: .7;
}

.banner::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  width: 139px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(16.91%, #404B9E), color-stop(107.19%, rgba(64, 75, 158, 0)));
  background: -o-linear-gradient(left, #404B9E 16.91%, rgba(64, 75, 158, 0) 107.19%);
  background: linear-gradient(90deg, #404B9E 16.91%, rgba(64, 75, 158, 0) 107.19%);
}

.banner__top {
  position: relative;
  grid-column: 2/10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.banner__promo {
  max-width: 650px;
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
}

.banner__promo-wrp {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__ttl {
  font-family: "Effra-Bold";
  font-size: 60px;
  line-height: 1;
  color: #DFDFDF;
  margin-bottom: 10px;
}

.banner__ttl span {
  color: #fff;
}

.banner__subttl {
  font-family: "Effra-Light";
  font-size: 40px;
  text-transform: uppercase;
}

.banner__call {
  line-height: 1.1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.banner__call-ttl {
  font-family: "Effra-Light";
  font-size: 40px;
}

.banner__call-tel {
  font-family: "Effra-Bold";
  font-size: 36px;
  color: #fff;
  border-bottom: 2px solid transparent;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.banner__call-tel:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.banner__btn {
  min-width: 280px;
  margin: 150px auto -100px;
}

.filter {
  position: absolute;
  bottom: 0;
  width: 100%;
  grid-column: 2/10;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: -webkit-calc(100vh - 100px);
  grid-template-rows: calc(100vh - 100px);
  opacity: .1;
}

.filter__title {
  position: absolute;
  font-family: "Effra-Bold";
  font-size: 34px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 50px;
  left: -36px;
  opacity: .3;
}

.filter__item {
  color: #DFDFDF;
  grid-column: span 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ffffff24;
  padding: 0 30px 45px 30px;
  overflow: hidden;
}

.filter__item-in {
  position: relative;
  width: 100%;
  margin-top: auto;
}

.filter__item-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  margin-bottom: 30px;
}

.filter__item-ttl {
  font-family: "Effra-Bold";
  font-size: 30px;
  text-transform: uppercase;
}

.filter__switch-label {
  position: relative;
  margin-top: -5px;
}

.filter__switch-label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.filter__switch-label input:checked + .filter__switch-icon-wrap {
  background-color: transparent;
  border-color: #fff;
}

.filter__switch-label input:checked + .filter__switch-icon-wrap .filter__switch-icon--show {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
      -ms-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.filter__switch-label input:checked + .filter__switch-icon-wrap .filter__switch-icon--not {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.filter__switch-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .4s all ease-in-out;
  -o-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
}

.filter__switch-icon-wrap {
  position: relative;
  width: 49px;
  height: 49px;
  border: 1px solid #4E60E0;
  background-color: #4E60E0;
  border-radius: 50%;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  cursor: pointer;
}

.filter__switch-icon-wrap:hover {
  border-color: #fff;
}

.filter__switch-icon--not {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
      -ms-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.filter__rad-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 160px;
  margin-bottom: 30px;
}

.filter__rad-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
}

.filter__rad-label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.filter__rad-label input:checked + .filter__rad-item {
  color: #282A2F;
  background-color: #DFDFDF;
  border-color: #DFDFDF;
}

.filter__rad-item {
  padding: 10px 18px;
  font-size: 18px;
  color: #DFDFDF;
  border: 1px solid #DFDFDF;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.filter__rad-item:hover {
  color: #fff;
  border: 1px solid #fff;
}

.filter__btn {
  color: #DFDFDF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.filter__btn-circle {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #DFDFDF;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.filter__btn-circle svg {
  stroke: #DFDFDF;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}

.filter__btn-text {
  margin-left: 10px;
}

.filter__btn:hover {
  color: #fff;
}

.filter__btn:hover .filter__btn-circle {
  border-color: #fff;
}

.filter__btn:hover .filter__btn-circle svg {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  stroke: #fff;
}

.filter__img {
  position: absolute;
  right: -30px;
  bottom: -45px;
  width: 166px;
  height: 282px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0;
}

.section {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.section__in {
  grid-column: 2/10;
  padding: 60px 0;
}

@media only screen and (max-width: 1200px) {
  .section__in {
    padding: 40px 0;
  }
}

.section__ttl {
  font-family: "Effra-Bold";
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-bottom: 35px;
}

@media only screen and (max-width: 1200px) {
  .section__ttl {
    font-size: 28px;
  }
}

.section__subttl {
  font-family: "Effra-Medium";
  font-size: 20px;
  margin-bottom: 15px;
}

.section__filter {
  color: #000;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 35px;
}

.section__filter-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__filter-label {
  margin-right: 9px;
  margin-bottom: 0;
}

.select2-container--open .select2-selection__arrow {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.select2-container--default {
  text-align: center;
  -webkit-flex-basis: 160px;
      -ms-flex-preferred-size: 160px;
          flex-basis: 160px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  background: none;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("../img/icon-arrow--select.svg");
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  background-position: 100% 50%;
  background-size: 13px;
  background-repeat: no-repeat;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-results__option {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5968D8;
  color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #DCDFF3;
  color: #282A2F;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 10px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background-color: #E5E5E5;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background-color: #4E60E0;
  border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #282A2F;
  background-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.owl-carousel .owl-nav button.owl-prev.disabled, .owl-carousel .owl-nav button.owl-next.disabled {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev.disabled:hover, .owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -60px;
}

.owl-carousel .owl-nav button.owl-prev svg {
  stroke: #282A2F;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.owl-carousel .owl-nav button.owl-prev:hover svg {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
}

@media only screen and (max-width: 1200px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: 5px;
  }
}

.owl-carousel .owl-nav button.owl-next {
  right: -60px;
}

.owl-carousel .owl-nav button.owl-next svg {
  stroke: #282A2F;
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.owl-carousel .owl-nav button.owl-next:hover svg {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

@media only screen and (max-width: 1200px) {
  .owl-carousel .owl-nav button.owl-next {
    right: 5px;
  }
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  max-width: 290px;
  padding: 22px;
  margin-bottom: 40px;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.card:hover {
  background-color: #DCDFF3;
  -webkit-box-shadow: 0 20px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 20px 15px rgba(0, 0, 0, 0.15);
}

.card__list .owl-item img {
  width: auto;
}

.card__img {
  display: block;
  margin: 0 auto 25px;
  height: 207px;
  width: 141px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__ttl {
  font-family: "Effra-Medium";
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 15px;
}

.card__info {
  color: #555;
  max-width: 213px;
  margin-bottom: 10px;
}

.card__info-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card__info-item span:nth-child(1) {
  -webkit-flex-basis: 140px;
      -ms-flex-preferred-size: 140px;
          flex-basis: 140px;
}

.card__labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.card__logo {
  height: auto;
  max-width: 76px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__icon {
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.card__price {
  font-family: "Effra-Bold";
  font-size: 30px;
  margin-bottom: 20px;
}

.card__btn {
  width: 100%;
}

.about {
  background-color: #f5f4f4;
}

.about__descr {
  color: #555555;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 6px;
}

.about__item {
  font-size: 18px;
  background-color: #DFDFDF;
  padding: 20px 30px 20px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item-icon {
  width: 65px;
  height: 65px;
  margin-right: 24px;
}

.form-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
}

.form-group__icon {
  fill: #686868;
  position: absolute;
  left: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-group--black input {
  color: #000;
  border-bottom-color: #000;
}

.form-group--black input::-webkit-input-placeholder {
  color: #000 !important;
}

.form-group--black input::-moz-placeholder {
  color: #000 !important;
}

.form-group--black input:-ms-input-placeholder {
  color: #000 !important;
}

.form-group--black input::-ms-input-placeholder {
  color: #000 !important;
}

.form-group--black input::placeholder {
  color: #000 !important;
}

.form-group--black input:focus {
  color: #5968D8;
  border-bottom-color: #5968D8;
}

.form-label {
  font-family: "Effra-Medium";
  font-size: 16px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
  margin-right: 10px;
}

.form-input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-check {
  margin-top: 25px;
}

.form-check__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.form-check__input:checked ~ .form-check__text .form-check__text-gal {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.form-check__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.form-check__text-circle {
  position: relative;
  min-width: 31px;
  max-width: 31px;
  height: 31px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 8px;
}

.form-check__text-gal {
  position: absolute;
  stroke: #fff;
  top: 2px;
  left: 6px;
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.form-check--black .form-check__text-circle {
  border-color: #000;
}

.form-check--black .form-check__text-gal {
  stroke: #000;
}

.service {
  grid-template-rows: minmax(100px, auto) minmax(470px, auto);
}

.service__descr {
  color: #555555;
}

.service__slider {
  grid-column: 1/12;
}

.service__slider .owl-nav button.owl-prev, .service__slider .owl-nav button.owl-next {
  border: 1px solid #fff;
}

.service__slider .owl-nav button.owl-prev {
  left: 60px;
}

.service__slider .owl-nav button.owl-prev svg {
  stroke: #fff;
}

.service__slider .owl-nav button.owl-next {
  right: 60px;
}

.service__slider .owl-nav button.owl-next svg {
  stroke: #fff;
}

.service__slider-item {
  position: relative;
  min-height: 470px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.service__slider-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #5968D8;
  opacity: .7;
}

.service__form {
  position: relative;
  color: #fff;
  grid-column: 3/span 3;
  max-width: 350px;
}

.service__form-ttl {
  margin-bottom: 15px;
}

.service__form-input {
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #fff;
}

.service__form-input::-webkit-input-placeholder {
  color: #fff !important;
}

.service__form-input::-moz-placeholder {
  color: #fff !important;
}

.service__form-input:-ms-input-placeholder {
  color: #fff !important;
}

.service__form-input::-ms-input-placeholder {
  color: #fff !important;
}

.service__form-input::placeholder {
  color: #fff !important;
}

.service__form-input:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.service__form-btn {
  width: 100%;
  margin-top: 15px;
}

.feed__price {
  position: relative;
  background-color: #000;
  grid-column: span 4;
  background-image: url("../img/feed__price-bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.feed__price::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #DFDFDF;
  opacity: .8;
}

.feed__price-in {
  position: relative;
  grid-column: 2/6;
  padding-top: 90px;
  padding-bottom: 90px;
}

.feed__price-btn {
  min-width: 380px;
}

.feed__price-btn span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.feed__price-btn svg {
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  fill: #fff;
}

.feed__price-btn svg path:nth-child(1) {
  stroke: #fff;
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.feed__price-btn-text {
  font-family: "Effra-Medium";
  font-size: 28px;
  text-transform: uppercase;
  max-width: 120px;
  margin-left: 20px;
  text-align: left;
}

.feed__price-btn:hover svg {
  fill: #282A2F;
}

.feed__price-btn:hover svg path:nth-child(1) {
  stroke: #282A2F;
}

.feed__ttl {
  margin-bottom: 15px;
}

.feed__form {
  padding-top: 90px;
  padding-bottom: 90px;
  grid-column: span 7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.feed__form-in {
  grid-column: 2/5;
  max-width: 390px;
}

.feed__form-btn {
  width: 100%;
  margin-top: 15px;
}

.map {
  min-height: 500vh;
}

.map__in {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.map__info {
  color: #fff;
  background-color: #5968D8;
  grid-column: 2/5;
  padding: 30px 50px;
}

.map__info-tel {
  font-family: "Effra-Bold";
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.map__info-tel:hover {
  color: #fff;
}

.map__info-item {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.map__info-item span {
  margin-left: 5px;
}

.map__info-item:hover {
  color: #fff;
}
