@font-face {
    font-family: 'Effra-HeavyItalic';
    src: url('Effra-HeavyItalic.woff2') format('woff2'),
        url('Effra-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Effra-MediumItalic';
    src: url('Effra-MediumItalic.woff2') format('woff2'),
        url('Effra-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Effra-LightItalic';
    src: url('Effra-LightItalic.woff2') format('woff2'),
        url('Effra-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Effra-BoldItalic';
    src: url('Effra-BoldItalic.woff2') format('woff2'),
        url('Effra-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Effra-Regular';
    src: url('Effra-Regular.woff2') format('woff2'),
        url('Effra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Effra-Italic';
    src: url('Effra-Italic.woff2') format('woff2'),
        url('Effra-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Effra-Heavy';
    src: url('Effra-Heavy.woff2') format('woff2'),
        url('Effra-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Effra-Medium';
    src: url('Effra-Medium.woff2') format('woff2'),
        url('Effra-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Effra-Bold';
    src: url('Effra-Bold.woff2') format('woff2'),
        url('Effra-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Effra-Light';
    src: url('Effra-Light.woff2') format('woff2'),
        url('Effra-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

